.container{
    display: flex;
    flex-direction: column;
}

.container h2 {
    margin-top: 0;
    /* width: 100%; */
    text-align: center;
}

.allPosts {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.allPosts h2 {
    text-align: center;
    color: white;
   
}
.allPosts  a {
    text-decoration: none;
}

.post {
    background-color: var(--colors-dark);
    width: 46%;
}

.titleBlock {
    height: 80px;
    max-height: 80px;
    background-color: var(--colors-dark);
}

.titleBlock h2 {
    padding: 1.4rem 0;
    font-size: 1.6rem;
    font-family:  "Roboto", sans-serif;
}



.mainImage {
   width: 100%;
   overflow: hidden;
   height: 250px;
   /* height: auto; */
   
}

.onePostContainer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onePostImage {
    
    width: 100%;
    min-width: 100vw;
    height: auto;
    overflow: hidden;
  
}

.imageBox {
    height: 400px;
  
    overflow: hidden;
}

.authorImage{
    max-width: 40px;
    max-height: 40px;
}
/* 
 */
.meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.content {
    width: 80%;
}
@media only screen and (min-width: 1400px) {
    .post {
        width: 30%;
    }
    .mainImage {
        height: 300px;
    }
}
@media only screen and (min-width: 1600px) {
    .titleBlock {
        height: 90px;
        max-height: 90px;
    }
   
    .mainImage {
        height: 400px;
    }
    /* .onePostImage {
        height: 600px;
    } */
}