.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  margin-top: 0;
  /* width: 100%; */
  text-align: center;
}

.allPosts {
  padding-top: 30px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* padding: 30px; */
}

.allPosts h2 {
  text-align: center;
  color: white;
  background-color: hsla(0, 0%, 14%, 0.8);
}
.allPosts a {
  text-decoration: none;
}

.post {
  width: 90%;
  height: auto;
  margin-bottom: -60px;
}

.titleBlock {
    position: relative;
}

.titleBlock h2 {
 margin-top: -80px;
 
  padding: 1.4rem 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.mainImage {
  width: 100%;
  /* overflow: hidden; */
  height: 250px;
  /* height: auto; */
}

.onePostContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onePostImage {
  width: 100%;
  /* min-width: 100vw; */
  height: auto;
  overflow: hidden;
}

.imageBox {
  position: relative;
  width: 100%;
  background-image: url("../../assets/slider_note.png");
  background-color: var(--colors-dark80);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.imageBox h2 {
  /* background-color: var(--colors-dark); */
  padding: 20px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--colors-heading);
  font-size: 4rem;
  background-color: var(--colors-dark80);
  text-transform: uppercase;
}

.authorImage {
  max-width: 30px;
  max-height: 30px;
}

.meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  width: 80%;
  margin-bottom: 30px;
}

.postNavigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  .allPosts {
    padding: 20px;
  }
  .post {
    width: 46%;
  }
}
@media only screen and (min-width: 1440px) {
.content {
    width: 60%;
}

.imageBox {
    height: 500px;
    padding: 60px 0;
}
    .onePostImage {
        
        width: 50%;
    }
  .post {
    width: 30%;
  }
  .mainImage {
        height: 300px;
    }
}
@media only screen and (min-width: 2000px) {
  .allPosts {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .post {
    /* min-height: 450px; */
  }

  /* .titleBlock {
        height: 90px;
        max-height: 90px;
    } */

  .mainImage {
    height: 400px;
  }
}
