.button {
    background-color: var(--colors-yellow);
    margin: 3rem auto 1rem auto;
    padding: 1rem;
    border-radius: 32px;
    width: 50%;
    box-shadow: 3px 3px 5px rgb(179, 179, 179, 0.5);
}

.link {
    text-decoration: none;
    color: var(--colors-white);
    font-family: "Montserrat", sans-serif;
}
