.homeContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
    width: 100vw;
    background-color: #fff;
  
}

.drieblok {
    padding: 4rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: stretch;
    
}


.icon {
  font-size: 16px;
  color: var(--colors-heading);
  margin-right: 6px;
  
}
.noot {
  color: var(--colors-heading);
}

.list {
  display: flex;
  text-align: start;
  line-height: 24px;
  flex-direction: column;
  margin-left: 40%;
  margin-right: auto;
}
.list li {
  list-style-type: none;
  margin-bottom: 10px;
}

.blokBreed {
  background-image: url('../../assets/sun.png') repeat ;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media only screen and (min-width: 1600px) {
    .drieblok {
flex-wrap: nowrap;
    }
}
