:root {
    --colors-mint: rgb(218, 247, 166);
    --colors-yellow: rgb(255, 195, 0);
    --colors-orange: rgb(255, 87, 51);
    --colors-red: rgb(199, 0, 57);
    --colors-darkred: rgb(144, 12, 63);
    --colors-purple: rgb(88, 24, 69);
}
