.homeContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
    width: 100vw;
    background-color: #fff;
  z-index: -100;
}

.drieblok {
    padding: 4rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: stretch;
    
}

.blokBreed {
  background-image: url('../../assets/sun.png') repeat ;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media only screen and (min-width: 1025px) {
    .drieblok {
flex-wrap: nowrap;
    }
}
