.homeContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
}

.blocks {
    min-height: 24rem;
    padding-top: 10rem;
    padding-bottom: 6rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(237, 237, 237);
    align-items: stretch;
    text-align: center;
}

.blocks1, .blocks2 {
    text-align: center;
    justify-content: center;
    min-height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.blocks1 {
    width: 70%;
    padding: 2rem 6rem 10rem 6rem;
    background-color: #020202;
    color: rgb(213, 213, 213);;
}
.blocks1 h2 {
    color: white;
}

.blocks2 {
    width: 30%;
    background-color: #FFc300;
    
    
}

.test {
    font-family: "Roboto", sans-serif;
    margin: 6rem 2rem 0 2rem;
}
.quote {
    margin: 0 4rem;
    
}
.testBlock {
    background-color: #020202;
    color: white;
    margin: 1rem 0 0 0;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    padding: 1rem 0;
}