.header {
  display: flex;
  position: relative;
  margin: 0;
  background: url("../../assets/slider_jet_pan.png") no-repeat right top fixed;
  width: 100%;
  height: auto;
  min-height: 1000px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  z-index: -10;
  /* border-bottom: 4px solid #ffc300; */
}

.banner {
  position: relative;
  /* overflow: hidden; */
  width: 1000px;
  height: 400px;
  animation-name: load;
  animation-timing-function: forwards;
  animation-duration: 2s;
  
}

.animation {
    position: absolute;
    left: -1000px;
    width: 1000px;
    height: 400px;
    -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


h1 {
  margin-top: 12rem;
  margin-bottom: 8rem;
  font-weight: 500;
  color: #fff;
  text-align: end;
  background-color: #ffc300;
  /* min-width: 50%; */
  border-bottom-right-radius: 42px;
  border-top-right-radius: 42px;
  padding: 20px 40px 20px 60px;
}

.punt {
  color: #fff;
}
