.navBar{
    /* background-color:  #626262; */
    /* border-bottom: 1px solid rgb(216, 216, 216); */
    background-color: var(--colors-dark);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    width: 100%;
}

.name, .menu {
    color: var(--colors-dark);
    
}

.name {
    text-align: left;
    padding-left: 20px;
    color: var(--colors-white);
    font-weight: 600;
    
}
.noot {
    color: var(--colors-yellow);
}

.menu {
    color: var(--colors-white);
    text-align: end;
    padding-right: 20px;
}

.link {
    color: var(--colors-white);
    text-decoration: none;
    padding: 6px 12px;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.active {
    color: var(--colors-yellow);
}

