
.blocks2 {
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
    /* min-height: 26rem; */
    width: 40%;
    background-color: var(--colors-white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}



.test {
    font-family: "Roboto", sans-serif;
    margin: 5rem 2rem 0 2rem;
}
.quote {
    padding-top: 1rem;
    margin: 0 4rem;
   /* font-family: "Montserrat", sans-serif; */
   font-style: italic;
   font-size: 1.2rem;
    
}
.testBlock {
    background-color: var(--colors-white);
    color: var(--colors-dark);
    margin: 1rem 0 0 0;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    padding: 1rem 0 0 0;
}