/* 
.blocks {
    min-height: 24rem;
   
    padding-top: 8rem;
    padding-bottom: 6rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--colors-gray);
    align-items: stretch;
    text-align: center;
} */

.blocks1 {
    text-align: center;
    /* justify-content: center; */
    /* min-height: 26rem; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /* padding-bottom: 2rem; */
    flex-wrap: wrap;
    padding: 0rem 2rem 2rem 2rem;
    background: radial-gradient(circle, rgba(215,215,215,0.3032387955182073) 0%, rgba(215,215,215,1) 100%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--colors-dark);
}

.title h2 {
    /* font-size: 2rem; */
    font-weight: 300;
    color: var(--colors-dark);
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  

.blocks1 h2 {
    color: var(--colors-dark);
    /* margin-bottom: 6rem; */
}

.image {
    display: block;
    width: 80px;
    margin-top: 20px;
    margin-left: auto;
    padding-left: 260px;
    margin-right: auto;
}
.button {
    /* margin-top: -60px; */
    /* padding-top: -200px;; */
    width: 30%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .blocks1 {
        
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 992px) {
    .blocks1 {
       
       max-width: 66%;
        padding: 0 4rem;
    }
}
