.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
   /* background: radial-gradient(circle, rgba(17, 118, 146,0.00948529411764708) 0%, rgba(17, 118, 146,0.2602612044817927) 100%); */
    
}

.content {
    padding: 1rem 4rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.input, .inputTextarea {
    margin-bottom: 20px;
    padding: 1rem;
}

.submitSend{

}

.blok {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}


@media only screen and (min-width: 1200px) {
    .content {
        margin: 6rem;
    }
    .blok {
        flex-wrap: nowrap;
    }
}