.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  /* background: radial-gradient(circle, rgba(17, 118, 146,0.00948529411764708) 0%, rgba(17, 118, 146,0.2602612044817927) 100%); */
}

.content {
  padding: 1rem 4rem;
}

.form {
  display: flex;
  flex-direction: column;
 
}

.input,
.inputTextarea {
  margin-bottom: 20px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  border: solid 1px var(--colors-dark);
  color: var(--colors-dark);
}

.submitSend {
  background-color: var(--colors-accent);
  margin: 3rem auto 1rem auto;
  padding: 1rem;
  border-radius: 32px;
  border: none;
  color: var(--colors-white);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 300px;
  box-shadow: 3px 3px 5px rgb(179, 179, 179, 0.5);
}

.blok {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

@media only screen and (min-width: 1200px) {
  .content {
    margin: 6rem;
  }
  .blok {
    flex-wrap: nowrap;
  }
}
