.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
    background: radial-gradient(circle, rgba(17, 118, 146,0.00948529411764708) 0%, rgba(17, 118, 146,0.2602612044817927) 100%);
    
    /* background-color: var(--colors-gray); */
}

.content {
    /* margin: 6rem; */
    padding: 4rem;
    
    /* background-color: var(--colors-white); */
}

.blok {
    display: flex;
    /* flex-direction: row; */
}



.name {
    /* text-align: left; */
    /* padding-left: 20px; */
    /* color: var(--colors-dark); */
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    
}
.noot {
    color: var(--colors-heading);
}

@media only screen and (min-width: 992px) {
    .content {
        margin: 6rem;
    }
}